<h1>Donor</h1>

  <tbody>
      <td><%= current_user.first_name %></td><br>
      <td><%= current_user.last_name %></td><br>
      <td><%= current_user.email %></td><br>
      <td><%= current_user.zipcode %></td><br>
      <td><%= current_user.phone %></td><br>
      <td><%= current_user.bloodtype %></td><br>
      <td><%#= link_to 'New', new_donor_path%></td>
      <td><%#= link_to 'Show', donor %></td>
      <td><%#= link_to 'Edit', edit_donor_path(donor) %></td>
      <td><%#= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <!-- <td><a href="<%#= f.file_field =%>">Upload</a></td> -->
    </tr>
  </tbody>
