<h1>Donor</h1>

  <tbody>
      <td><%= current_user.first_name %></td><br>
      <td><%= current_user.last_name %></td><br>
      <td><%= current_user.email %></td><br>
      <td><%= current_user.zipcode %></td><br>
      <td><%= current_user.phone %></td><br>
      <td><%= current_user.bloodtype %></td><br>
</tbody>
